Q1: You are working in a bank, and you have been given two lists of the employees who worked in 2021.
Employees’ names in list 1 are Ramesh, Suresh, Mahesh, Ali, Jacob, and Saritha.
List 2 contains the names of Ali, Mukesh, Mahesh, Jacob, Sai, and Sarita.
Please write a program that helps to identify people who are common in both lists. Please do not use any in-built function.

In [ ]:

list1 = ['Ramesh', 'Suresh', 'Mahesh', 'Ali', 'Jacob','Saritha']
list2 = ['Ali', 'Mukesh', 'Mahesh', 'Jacob', 'Sai','Sarita']
list3 = []
for i in list1:
  for j in list2:
    if i == j:
      list3.append(i)
print(list3)

['Mahesh', 'Ali', 'Jacob']

Q2: While entering data, someone entered a few names as a common string “Ramesh Suresh Mohit”.
Please write a program which separates all the names and converts them into a list.
Once converted into a list, please write a program that adds their age.

In [ ]:

string ="Ramesh Suresh Mohit"
names = string.split()
print(names)

ages = [25,22,26]
result = zip(names,ages)

for name,age in result:
  print(f'{name} : {age}')

['Ramesh', 'Suresh', 'Mohit']
Ramesh : 25
Suresh : 22
Mohit : 26

Q3: You are working in a medical store. A patient came to your medical store and asked to buy 2 strips of paracetamol,
3 strips of azithromycin, and 5 strips of Vitamin C. One strip of paracetamol costs Rs 35, one strip of azithromycin costs Rs 49,
and one strip of vitamin c costs Rs. 33. Patient gave you Rs 2000. Please tell us what is the total cost of each medicine,
the total cost of all medicine, and how much money you refunded to the patient.

In [ ]:

num_of_paracetamol = 2
num_of_azithromycin = 3
num_of_vit_c = 5

price_paracetamol = 35
price_azithromycin = 49
price_vit_c = 33

total_cost_paracetamol  = num_of_paracetamol * price_paracetamol
total_cost_azithromycin = num_of_azithromycin * price_azithromycin
total_cost_vit_c = num_of_vit_c * price_vit_c

total_cost_all_medicines = total_cost_paracetamol + total_cost_azithromycin + total_cost_vit_c

given_money = 2000

refunded_money = given_money - total_cost_all_medicines

print(f'Total cost of paracetamol: {total_cost_paracetamol}')
print(f'Total cost of azithromycin : {total_cost_azithromycin}')
print(f'Total cost of Vitamin C : {total_cost_vit_c}')
print(f'Total cost of all medicines : {total_cost_all_medicines } ')
print(f'Refunded money : {refunded_money}')

Total cost of paracetamol: 70
Total cost of azithromycin : 147
Total cost of Vitamin C : 165
Total cost of all medicines : 382
Refunded money : 1618

Q4: Accept a sentence as input and find the number of vowels in it. Assume that the sentence has no punctuation marks.
For example, I am learning python contains 6 vowels. This function should be applicable for all other different sentences.

In [ ]:

sentence = input()
sentence = sentence.lower()

vowels = 'a','e','i','o','u'

vowel_count = 0
for word in sentence:
  for char in word:
    if char in vowels:
      vowel_count += 1
print(f'Vowel count : {vowel_count}')

I am Priya
Vowel count : 4

Q5: You have been appointed by the election commission to create a website. Your first task is to work on a program
which tells candidates if they are eligible for voting or not. If they are eligible, your output should be ‘Congrats! You are eligible’;
 otherwise, it should tell that you have to return after X number of years. The eligibility criteria for voting is 18 years.
For example, If someone is 18 or above, your output should be ‘Congrats! You are eligible’.
If someone’s age is 15 years, it should print output as ‘return after 3 years’.

In [ ]:

eligible_age = 18
age = int(input())

if age >= 18:
  print(f'Congrats! You are eligible')
else:
  print(f'return after {eligible_age - age} years')

14
return after 4 years

Q6: Given a list of integers, find the cumulative sum of the elements of the list and store them in another list.
Output:[1, 3, 6, 10, 15]

In [ ]:

A = [1, 2, 3, 4, 5]
current_sum = 0
cumulative_list = []

for i in A:
  current_sum += i
  cumulative_list.append(current_sum)
print(cumulative_list)

[1, 3, 6, 10, 15]

Q7 : WAP to encode a message entered by user as per below conditions:
for every word in the sentence,
1. If the word starts with a vowel, encode it as the first and last letter of the word.
2. If the word starts with a consonant, remove all vowels from it.
Ensure the case insensitive comparisons/checks are performed.
Please enter your text:The quick brown fox used to sleep inside this box
Encoded Msg: Th qck brwn fx ud t slp ie ths bx

In [ ]:

message = input()
message = message.split()
vowels = 'a', 'e', 'i', 'o' ,'u', 'A', 'E', 'I', 'O', 'U'
output = []
for word in message:
  if word[0] in vowels:
    if len(word) > 1:
      output.append(word[0] + word[-1])
    else:
      output.append(word)
  else:
    new_word = ""
    for chr in word:
      if chr not in vowels:
        new_word += chr
    output.append(new_word)
print(" ".join(output))

Q8 : Write a program to implement run length encoding of a string
RLE:Consecutive repetition of a character has to be replaced with the count of occurrences and the character.
Encoded: 2a3b2c3d1a1e

In [ ]:

input ="aabbbccdddae"
output = ""
count = 1
prev_char = input[0]

for char in input[1:]:
    if char != prev_char :
        output += str(count) + prev_char
        count = 1
    else:
        count += 1

    prev_char = char
output += str(count) + prev_char
print(output)

2a3b2c3d1a1e

In [ ]:
s = " Ramesh  Suresh"
s = s.lower()
print(s)

s1 = s.upper()
print(s1)

 ramesh  suresh
 RAMESH  SURESH

In [ ]:
s = input()
result = s.lower()
print(result)

I am Priya
i am priya

In [ ]:
string1 = "Hello Word here how"
count = 0
#output :=> 2
#Total Word Starting From Upper Case
for word in string1:
  if word[0].isupper():
    count += 1
print(count)

2

In [ ]:
def res1(str1):
 a = str1.split(" ")
 return a

ans = res1("Hello how are you")
print(ans)

['Hello', 'how', 'are', 'you']

In [ ]:
l1 = ["Hello","how","are","you"]
s = " ".join(l1)
print(s)

Hello how are you
Hello how are you